*{
  padding: 0;
  margin: 0;
}

nav ul .nav-links{
  display: flex;
}

.landing{
  display: flex;
}

.hero{
 display: flex; 
}

.hero-img{
  display: flex;
  border-radius: 2em;
  content-align: center;
}

.hero-typo p{
  size: 1em;
  color:#f1f1f1;
}

.hero-typo h1{
  color: violet;
  text-align: center;
}

.hero-typo h3{
  color: #f1f1f1;
}

ul li {
  list-style-type: none;
}

a{
  text-decoration:none;
}
