*{
  padding: 0;
  margin: 0;
}

nav ul .nav-links{
  display: flex;
}

.landing{
  display: flex;
}

.hero{
 display: flex; 
}

.hero-img{
  border-radius: 2em;
}

ul li {
  list-style-type: none;
}

a{
  text-decoration:none;
}
