@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

.accent{
  color: #142946;
}

body {
  background-color: #f1f1f1;
  color: #030303;
  font-family: 'Poppins', sans-serif;
}

#scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  animation: scrollAnimation 1s infinite;
}

#scroll-down .arrow {
  margin-top: 1.2em;
  border: solid rgb(20, 41, 70);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(12px);
    opacity: 1;
  }
}


.dm-switch {
  cursor: pointer;
}

.dm {
  background-color: #202324;
  color: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.header-bg {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.3s;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  height: 3.5em;
  color: #f1f1f1;
}

.nav-dark {
  color: #2e2e2e !important;
}

.linkes {
  color: #f1f1f1;
}

.nav-dark .linkes{
  color: #ff7d7d !important;
}


.landing {
  display: flex;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
}

.hero p {
  font-size: 2em;
  color: #f1f1f1;
  font-weight: light;
}

.hero h1 {
  color: violet;
}

.hero h3 {
  color: #f1f1f1;
}

.bio {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio p {
  font-size: 1em;
  width: 30em;
  text-align: center;
}

.bio h2 {
  margin-top: .5em;
  font-size: 2rem;
  text-align: center;
  max-width: 70rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  max-width: 60rem;
}

.project-cards {
  margin-top: 5em;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: .51em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  transition: 250ms;
  width: inherit;
  height: max-content;
  background-color: #fffafa;
  color: #030303;
  margin-bottom: 5%;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(20, 41, 70, 0.8);
}

.card-typo p{
  color: #868686;
  font-size: .8em;
}

.card img {
  width: 32vw;
}

.card .card-typo {
  margin: .5em .8em;
}

.contact-form{
  border-radius: 1em;
  gap: 25%;
  display: flex;
  flex-direction: row;
  padding-top: 5vh; 
  margin: 5vh auto;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 50vh;
  width: 68vw;
}

.contact-1{
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-2{
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-2 input {
  font-size: 1rem;
  border: none;
  padding: .8em;
  margin: .5em;
  box-sizing: border-box;
  border-bottom: .1em solid #f1f1f1;
  outline: none;
  background-color: transparent;
  transition: border-bottom-color 0.3s ease;
  color: #f1f1f1;
}

.contact-2 input:active,
.contact-2 input:focus {
  border-bottom-color: #ff7d7d;
  font-style: 1em;
  border-bottom: .2em solid #ff7d7d;
}

.about-foot{
  display: flex;
  flex-direction: row;
  max-height: 20vh;
  background-color: #142946;
  padding: 15vh;
}

.about-foot h4{
  color: #f1f1f1;
  max-width: 50vw;
}

@media screen and (min-width: 300px) and (max-width: 768px) {

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    font-size: .1em;
  }

  .nav-links li a {
    font-size: .8em;
  }

  .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    text-align: center;
  }

  .hero p {
    font-size: .7em;
    color: #f1f1f1;
    font-weight: light;
  }

  .hero h1,
  h3 {
    font-size: 1.1em;
  }

  .bio {
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bio p {
    font-size: .7em;
    width: 30em;
    text-align: center;
  }

  .bio h2 {
    margin-top: .5em;
    font-size: 1em;
    text-align: center;
    max-width: 20rem;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 3.5em;
    font-size: .8em;
  }

  .title {
    text-align: Center;
    margin: .5em .5em;
    max-width: 33em;
    font-size: .7em;
  }

  .project-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .card {
    border-radius: .51em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    transition: 250ms;
    width: inherit;
    height: max-content;
    background-color: #fcfcfc;
    
    box-shadow: 0px 0px 10px 0px rgba(143, 44, 209, 0.8);
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(143, 44, 209, 0.8);
  }

  .card img {
    width: 35vw;
  }

  .card .card-typo {
    margin: .5em .8em;
  }

  .card-typo h3 {
    font-size: .8em;
  }

  .card-typo p {
    font-size: .5em;
  }

  
  .contact-form{
    border-radius: 1em;
    gap: 5%;
    display: flex;
    flex-direction: row;
    padding-top: 5vh; 
    margin: 5vh auto;
    justify-content: center;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 25vh;
    width: 80vw;
  }

  .contact-1{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5em;
  }

  .contact-2{
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-2 label{
    font-size: .8em;
  }

  .contact-2 input {
    font-size: .5rem;
    border: none;
    padding: .8em;
    margin: .5em;
    box-sizing: border-box;
    border-bottom: .1em solid #f1f1f1;
    outline: none;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
    color: #f1f1f1;
    font-size: .8em;
  }

  .contact-2 input:active,
  .contact-2 input:focus {
    border-bottom: .2em solid #ff7d7d;
    border-bottom-color: #ff7d7d;
  }

.about-foot{
  display: flex;
  flex-direction: row;
  background-color: #142946;
  padding: 5vh;
}

.about-foot h4{
  color: #f1f1f1;
  max-width: 75vw;
  font-size: small;
  font-weight: normal;
}

#scroll-down .arrow {
  border: solid rgb(20, 41, 70);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

}
