@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a{
  text-decoration:none;
}

.active{
  font-weight: bold;
}

body{
  font-family: 'Poppins';
}

#header-bg {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.3s ; /* Add transition property */
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  height: 3.5em;
}

.sticky-nav{
  background-color: #ffffff !important;
}

.nav-links li a{
  color: rgb(25, 25, 25);
}

.active{
  border-bottom: 1px solid #030303;
  border-radius: .3px;
}

.landing{
  display: flex;
}

.hero{
  margin: 10vh 1%;
  border-radius: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
}

.hero p{
  size: 1em;
  color:#f1f1f1;
  font-weight: light;
}

.hero h1{
  color: violet;
}

.hero h3{
  color: #f1f1f1;
}

.bio{
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio p{
  font-size: 1em;
  width: 30em;
  text-align: center;
}

.bio h2{
  margin-top: .5em;
  font-size: 2rem;
  text-align: center;
  width: 70rem;
}

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
  width: 50rem;
}

.project-cards{
  margin-top: 5em;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.cards-1{
  border-radius: .51em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
  transition: 250ms;
}

.cards-1:hover{
  transform: scale(1.1) ;
  box-shadow: 0px 0px 10px 0px rgba(143, 44, 209, 0.8);
}

.cards-1 img{
  width: 26vw;
}

.cards-1 > .cards-typo{
  margin: .5em .8em;
}